.main {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  grid-auto-rows: 7.5rem; 
  gap: 1px; 
  width: 100%;
  height: 100%;  
  background-color: #f3f4f6; 
  height: auto;
}

.row {
  display: contents; 
}

.day {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #ffffff; 
  border: 1px solid #e5e7eb; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}


.day:hover {
  background-color: #e0f2fe; 
  transform: translateY(-2px); 
}


.day:nth-child(7n), 
.day:nth-child(7n + 6) {  
  background-color: red; 
}


