.main {
   
    background-color: #f7f7f7; 
    padding: 0.5rem 1rem ; 
    width: 16rem; 
    height: 85vh;
    
    
   /*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    display: flex;
    flex-direction: column;
   
    align-items: center;
  }
  
  .createEvent {
    border: none; 
    background-color: #4F46E5; 
    color: white; 
    padding: 0.5em; 
    font-size: 1.25rem;
    border-radius: 15px; 
    font-weight: bold; 
    width: 100%; 
    margin-top: 1rem;
    margin-bottom: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; 
  }
  
  .createEvent:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #4338CA; 
  }
  
  
  @media (max-width: 768px) {
    .main {
      width: 100%; 
      padding: 1.5rem; 
    }
  }
  